[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dvc = {extras = ["gdrive"], version = "==3.50.1"}
lib-ml = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.11"
