[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lib-ml = {file = ".", editable = true}
dvc = {extras = ["gdrive"], version = "==3.50.1"}

[dev-packages]

[requires]
python_version = "3.11"
